/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.about {
  width: 100vw;
 
  margin: 10rem 0;
  padding: 2rem 9%;
}

.about_cont {
  display: flex;
  flex-wrap: wrap;
  gap: 12rem;

  justify-content: space-between;
}

.ab_img {
  flex: 40rem;
  position: relative;
}

.ab_img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
}
.ab_img img {
  width: 100%;
  height: 65rem;
  object-fit: cover;
  object-position: center;
  display: block;
}
.aboutus {
  flex: 50rem;
  /* background-color: rgb(218, 218, 218); */

  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;

    align-items: center;
}

.aboutus h1 {
  font-size: 2.3rem;

  font-weight: bolder;
  text-transform: uppercase;
  font-family: "Josefin Slab", serif;

  letter-spacing: 0.2rem;
  color: #be7f31;
  /* margin-left: 6rem; */
  letter-spacing: 0.3rem;
  /* margin: 5rem 0; */
}

.aboutus h2 {

  font-size: 2rem;
  margin-bottom: 4rem;
  font-family: "Josefin Slab", serif;

  text-transform: uppercase;
  letter-spacing: .3rem;
  position: relative;
}

/* .aboutus h2::after {

  content: "";
  position: absolute;
  top: 1rem;
  left: 16rem;
   
  border-radius: 20rem;
  width: 3rem;
  height: 0.2rem;
  color: black;
  background-color: #000000;

} */
 

.aboutus p {
  font-size: 15.6px;
  color: rgb(0, 0, 0);
  text-align: left;
  
   
  line-height: 2.4rem;

  font-family: 'Montserrat', sans-serif;
}

 .buttons {
  background-color: #be7f31;
  font-size: 1.5rem;
  color: white;
  padding: 0.8rem 1.2rem;

  letter-spacing: 0.2rem;

  border-radius: 0.5rem;
  font-family: "Poppins", serif;
}

 .aboutus .service{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
 } 
 
 .aboutus .services1{
  
margin: 5rem 1rem;
/* margin-right:4rem ; */
/* background-color: rgb(227, 227, 227); */
box-shadow: rgba(149, 157, 165, 0.2) 0px 5px  10px;

padding:3rem;
border-radius: 2rem;
 

text-align: center;
 }
   .services1 h3 {
  font-size: 4.5rem;
  margin: 2.9rem 0;
    font-weight: bolder;
    letter-spacing: .3rem;
    display: flex;
    justify-content: center;
 
 }
 
 .services1 h6 {
  font-size: 1.5rem;
 color: rgb(126, 126, 126);


 }
   .services1 .servicons {
  font-size: 4.9rem;
    color: #be7f31;
 }
 

  .discover  {
  
  font-weight: bolder;
   font-family: "Open Sans", sans-serif;
    color: black;

    font-size: 14px;
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    letter-spacing: .2rem;

    text-align: center;

  } 

.discover span {
    
    color: #be7f31;
}







@media screen and (max-width: 960px) {
  .aboutus p {
    margin: 3rem 0;
  }
}



@media screen and (max-width: 550px) {
 
  .aboutus .service{
   
    justify-content: center;


     }

     .about {
     
      padding: 2rem 5%;
    }
    


.aboutus .services1{
   
   
margin: 4rem 0;
margin-right:1rem ;

  width: 30rem;

  padding: 2.9rem   0;
     }


  .aboutus .buttons  {
margin-top: 2rem;
text-align: center;
}

 
.aboutus h2{
   

  letter-spacing: 0;
  /* margin-left: 1rem; */
  text-align:center ;
  font-size: 3rem;
   }



}
