.aboutpage {
  min-height: 60vh;
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/images/bg13.webp");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutpage h1 {
  font-size: 5rem;
}
.abooutpage_cont {
  padding: 2rem 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* padding-top: 8rem; */
  margin: 10rem 0;
}

.abooutpage_cont h1 {
  font-size: 5rem;
  font-family: "Josefin Slab", serif;
  margin-bottom: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.abooutpage_cont span {
  color: black;
  font-size: 1.5rem;
  color: #be7f31;
}
.abooutpage_cont p {
  color: black;
  font-size: 15px;
  width: 90%;
  text-align: center;
  margin: 1rem 0;
  line-height: 2.5rem;
}

.abooutpage_cont .buttons {
  margin-top: 3rem;
}

.why_cont1 h2 {
  font-size: 4rem;
  margin-bottom: 4rem;
  font-family: Josefin Slab, serif;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: relative;
}

.whyus {
  padding: 8rem 10%;
  width: 100vw;
  background-image: url("/images/bg1.webp");
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;

  color: #fff;
}
.whyus_cont {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.why_cont1 {
  flex: 1 1 50rem;
}
.why_cont2 {
  flex: 1 1 29rem;

  position: relative;
}
.why_cont2 img {
  width: 100%;

  height: 75rem;
  object-fit: cover;
  object-position: center;
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.59);
}
.why_cont1 h2::before {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: -4.7rem;
  border-radius: 20rem;
  width: 4rem;
  height: 0.2rem;
  color: #000;
  background-color: #be7f31;
}

.why_cont1 p {
  font-size: 15.5px;
  /* margin-right: 2rem; */
  padding: 1rem 0;
  line-height: 2.2rem;
}
.why_cont1 p span {
  font-weight: bolder;
  letter-spacing: 0.15rem;
  color: #ffffff;
  font-size: 16.5px;
}

.services {
  display: flex;
  justify-content: center;
  flex-direction: column;

  background-image: linear-gradient(120deg, #ffffff 10%, #ffcc8d 130%);

  background-attachment: fixed;

  align-items: center;
  /* height: 50vh; */
  padding: 8rem 6%;
  /* margin: 8rem 0; */
  cursor: pointer;
}

.services .heading {
  font-weight: bolder;
}
.service-card {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-align: center;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.serv_icons {
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 1.5rem;
  border-radius: 3rem;
  border: 1px solid rgb(154, 154, 154);
}
.serv_icons h3 {
  font-size: 2.5rem;
  padding: 3rem 0;
}
.serv_icons p {
  font-size: 14.7px;
  /* padding: 0 1.2rem; */
  padding: 0 0.5rem;
}
.serv_icons .icon {
  font-size: 6.4rem;
  /* color: #be7f31;
     color: #2f2f2f; */
}
.serv_icons:hover {
  box-shadow: rgba(78, 78, 78, 0.1) 0px 4px 2px;

  color: #ffffff;
  /* background-color: #454545; */

  background: #be7f31;
}
.services .buttons {
  margin-top: 5rem;
}

@media screen and (max-width: 920px) {
  .service-card {
    flex-wrap: wrap;
  }

  .services {
    padding: 8rem 1%;
  }
  .serv_icons {
    margin: 2.5rem 0.5rem;
  }
}

@media screen and (max-width: 530px) {
  .abooutpage_cont {
    padding: 2rem 0;
  }
  .abooutpage_cont p {
    text-align: left;
  }
}
